* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-color: rgba(58, 58, 58, 1);
}

.main {
  top: 0;
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 20px;
  z-index: -2;
}

@keyframes drumPadHighlight {
  to {
    transform: scale(1.02);
    filter: brightness(1.5);
  }
}

@keyframes tracksAnimation {
  to {
    transform: translateX(-100%);
  }
}
