$snare-color: rgb(137, 232, 253);
$kick-color: rgb(251, 43, 43);
$hihat-color: rgb(101, 121, 255);
$tom1-color: rgb(71, 255, 89);
$tom2-color: rgb(239, 242, 102);
$floor-tom-color: rgb(255, 174, 81);
$crash-color: rgb(247, 94, 94);
$ride-color: rgb(234, 134, 251);
