$snare-color: rgb(137, 232, 253);
$kick-color: rgb(239, 89, 89);
$hihat-color: rgb(128, 126, 241);
$tom1-color: rgb(122, 237, 134);
$tom2-color: rgb(239, 242, 102);
$floor-tom-color: rgb(243, 181, 111);
$crash-color: rgb(255, 157, 157);
$ride-color: rgb(234, 134, 251);
