* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background: #252525;
}

.main {
  top: 0;
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.drumset {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 30vw;
  min-height: 250px;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.drumset > div {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
  padding: 0;
}

.drumset > div img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.drumset > div:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.kick-pad {
  left: 50%;
  top: 100%;
  width: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.kick-pad img {
  width: 100%;
}

.floor-tom-pad {
  left: 70%;
  top: 75%;
  width: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.floor-tom-pad img {
  width: 100%;
}

.snare-pad {
  left: 38%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 20%;
}

.snare-pad img {
  width: 100%;
}

.tom1-pad {
  left: 44%;
  top: 43%;
  width: 18%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tom1-pad img {
  width: 100%;
}

.tom2-pad {
  left: 60%;
  top: 40%;
  width: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tom2-pad img {
  width: 100%;
}

.crash-pad {
  left: 25%;
  top: 20%;
  width: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.crash-pad img {
  width: 100%;
}

.ride-pad {
  left: 80%;
  top: 20%;
  width: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ride-pad img {
  width: 100%;
}

.hihat-pad {
  left: 20%;
  top: 45%;
  z-index: 2;
  width: 18%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hihat-pad img {
  width: 100%;
}

.player-container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35vh;
  min-height: 300px;
  max-height: 400px;
  width: 80%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.075);
  margin: 0 auto;
}

.player-container .action-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2e2e2e;
}

.player-container .action-menu .btn {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.player-container .action-menu .play {
  background-color: #3df53d;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.player-container .action-menu .clear {
  background-color: #ff5959;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.player-container .action-menu .pause {
  background-color: #a5a5a5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.player-container .action-menu .add-rm-section {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-container .action-menu .add,
.player-container .action-menu .remove {
  width: 50%;
}

.player-container .info-area {
  text-align: center;
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Audiowide", cursive;
  width: 150px;
}

.player-container .info-area .notation {
  font-size: 3em;
  font-weight: bold;
}

.player-container .info-area .tempo .tempo-input {
  font-family: "Audiowide", cursive;
  background: rgba(255, 255, 255, 0.178);
  border-radius: 12px 12px 1px 1px;
  padding: 8px;
  color: white;
  outline: none;
  border: none;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  border-bottom: 2px solid white;
  width: 80%;
  max-width: 120px;
}

.player-container .info-area .drum-select {
  background: none;
  outline: none;
  border: none;
  font-size: 1em;
  font-family: "Audiowide", cursive;
  line-height: 1.5em;
  color: white;
}

.player-container .info-area .drum-select option {
  background-color: #1b1b1b;
}

.player-container .player {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgba(56, 56, 56, 0);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  height: 100%;
}

.player-container .player .motion {
  width: auto;
  height: 100%;
  padding: 0;
  margin-left: 20px;
  overflow: visible;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.highlight {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.block,
.block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block > div,
.block-info > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1px 0;
  width: 45px;
  border-radius: 10px;
}

.block > div p,
.block-info > div p {
  color: white;
}

.block .empty,
.block-info .empty {
  background-color: rgba(255, 255, 255, 0.877);
}

.block .block-number,
.block-info .block-number {
  margin: 0;
  padding: 0;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  bottom: 95%;
}

.block .block-number p,
.block-info .block-number p {
  color: #7a7a7a;
}

.block {
  padding: 0 15px;
  cursor: pointer;
}

.block .crash {
  background-color: #ff9d9d;
}

.block .ride {
  background-color: #ea86fb;
}

.block .hihat {
  background-color: #807ef1;
}

.block .snare {
  background-color: #89e8fd;
}

.block .tom1 {
  background-color: #7aed86;
}

.block .tom2 {
  background-color: #eff266;
}

.block .floor-tom {
  background-color: #f9c180;
}

.block .kick {
  background-color: #ef5959;
}

.block .empty {
  background-color: rgba(255, 255, 255, 0.1);
}

.block-info {
  z-index: 1;
  margin: 0;
  padding-left: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#383838), color-stop(rgba(56, 56, 56, 0.747)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, #383838, rgba(56, 56, 56, 0.747), rgba(255, 255, 255, 0));
}

.block-info .crash {
  border: 1px solid #ff9d9d;
}

.block-info .ride {
  border: 1px solid #ea86fb;
}

.block-info .hihat {
  border: 1px solid #807ef1;
}

.block-info .snare {
  border: 1px solid #89e8fd;
}

.block-info .tom1 {
  border: 1px solid #7aed86;
}

.block-info .tom2 {
  border: 1px solid #eff266;
}

.block-info .floor-tom {
  border: 1px solid #f9c180;
}

.block-info .kick {
  border: 1px solid #ef5959;
}

.edit-mode {
  background-color: rgba(117, 117, 117, 0.411);
  border-radius: 4px;
  -webkit-transform: scaleX(1.15);
          transform: scaleX(1.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 900px) {
  .main {
    height: 100vh;
    margin: 0;
    overflow: scroll;
  }
  .player-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .player-container .action-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    width: 100%;
  }
  .player-container .info-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
  }
  .player-container .info-area .tempo {
    padding: 0 10px;
  }
  .player-container .info-area .tempo .tempo-input {
    background-color: unset;
    font-size: 1.8em;
  }
  .player-container .info-area .tempo .tempo-header {
    display: none;
  }
  .player-container .info-area .tempo .tempo-units {
    display: inline;
    font-size: 1.5em;
  }
  .player-container .player {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
  }
  .player-container .player .block-info {
    padding-left: 10px;
  }
  .drumset {
    max-width: unset;
    width: 100%;
    padding: 5px;
    height: 40vh;
  }
}

@media (max-width: 640px) {
  .player-container .info-area {
    padding: 0;
  }
  .player-container .info-area .tempo {
    background-color: #2b2b2b;
    -webkit-box-flex: auto;
        -ms-flex-positive: auto;
            flex-grow: auto;
  }
  .player-container .info-area .tempo .tempo-input {
    border-bottom: unset;
    min-width: 0;
    padding: 0;
    max-width: 80px;
  }
  .player-container .info-area .notation {
    font-size: 2.2em;
  }
  .drumset {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (33%)[3];
        grid-template-rows: repeat(3, 33%);
    margin-top: 20px;
    height: 40vh;
  }
  .drumset .crash-pad {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1/1/2/4;
    border: 2px solid #ff9d9d;
  }
  .drumset .ride-pad {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-area: 1/4/2/7;
    border: 2px solid #ea86fb;
  }
  .drumset .hihat-pad {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3/1/4/3;
    border: 2px solid #807ef1;
  }
  .drumset .snare-pad {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 3/3/4/5;
    border: 2px solid #89e8fd;
  }
  .drumset .tom1-pad {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2/1/3/3;
    border: 2px solid #7aed86;
  }
  .drumset .tom2-pad {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 2/3/3/5;
    border: 2px solid #eff266;
  }
  .drumset .floor-tom-pad {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: 2/5/3/7;
    border: 2px solid #f9c180;
  }
  .drumset .kick-pad {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: 3/5/4/7;
    border: 2px solid #ef5959;
  }
  .drumset > div {
    position: inherit;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    -webkit-transform: unset;
            transform: unset;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .drumset > div img {
    opacity: 0.1;
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes drumPadHighlight {
  to {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-filter: brightness(1.4);
            filter: brightness(1.4);
  }
}

@keyframes drumPadHighlight {
  to {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-filter: brightness(1.4);
            filter: brightness(1.4);
  }
}
/*# sourceMappingURL=style.css.map */